<header class="masthead mb-auto">
    <div class="inner">
        <nav class="sub_nav">
            <form method="GET">
                <% if (user.permissions.includes("View Subscriptions")) { %>
                <button class=<%= selected == "default" ? "sub_nav_button_selected" : "sub_nav_button" %> type="submit" formaction="/members">All Members</button>
                <% } %>
                <% if (user.permissions.includes("Create Subscriptions")) { %>
                <button class=<%= selected == "add" ? "sub_nav_button_selected" : "sub_nav_button" %> type="submit" formaction="/members/add">Add Member</button>
                <% } %>
              </form>
        </nav>
    </div>
</header>