<header class="masthead mb-auto">
    <div class="main_nav">
        <nav class="main_nav">
            <form method="GET">
                <% if (user.permissions.includes("View Movies")) { %>
                <button class=<%= selected == "movies" ? "main_nav_button_selected" : "main_nav_button" %> type="submit" formaction="/movies">Movies</button>
                <% } %>
                <% if (user.permissions.includes("View Subscriptions")) { %>
                <button class=<%= selected == "members" ? "main_nav_button_selected" : "main_nav_button" %> type="submit" formaction="/members">Subscriptions</button>
                <% } %>
                <% if (user.username == "admin") {  %>
                <button class=<%= selected == "users" ? "main_nav_button_selected" : "main_nav_button" %> type="submit" formaction="/users/manage">User Management</button>
                <% } %>
                <button type="submit" formaction="/login/logout">Log Out</button>
              </form>
        </nav>
    </div>
</header>
<hr>