<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./template/header', {user: user}) -%>
    <%- include('./template/nav', {user: user, selected: "members"})-%>
    <br/>
    <%- include('./template/members_nav', {selected: "add"})-%><br/>
    <div>
        <!-- General details -->
        <h3> Add a New Member </h3><br/>
        <form>
        Name : <input type="text" name="Name" /> <br/>
        Email : <input type="text" name="Email" /> <br/>
        City : <input type="text" name="City" /> <br/>

        <!-- Edit Buttons -->
        
          <input type="submit" formaction="/members/edit/" formmethod="POST" value="Save" />
          <input type="submit" formaction="/members" formmethod="GET" value="Cancel" />
        </form>

        
    </div><br/>
  </body>
</html>
