<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movies - Subscriptions Web Site</h1>
    <% if (message != "undefined") { %>
      <div style="color: red"><%= message %></div>
      <% } %>
    <form class="login_box" action="/login/attemptLogin" method="POST">
      <table>
        <tr>
          <td>Username: </td>
          <td><input type="text" placeholder="Enter username" name="username" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" placeholder="Enter password" name="password" /></td>
        </tr>
      </table>
      <input class="login_button" type="submit" value="Login" />
    </form>
    <br/>
    New User? <a href="/login/createAccount">Create account</a>
   
  </body>
</html>
