<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./template/header', {user: user})-%>
    <%- include('./template/nav', {user: user, selected: ""})-%>
    <div class="errorMessage"><%= error %></div>
  </body>
</html>
